# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# R data set files
*.rds 

# Ignore directory
ignore/

*.DS_Store

# R Markdown and output
*.Rmd
*.html

# Figures
fig/

# Condor
*.log
*.err
*.out
log-time_*
error-*
re-run-*
held-*
*.tar.gz
.per-tma-pkg/
.size-swd-pkg/
.size-wq-pkg/
*.bash_history

# Output 
output/per-tma/*
output/size-imdb/*
output/size-wq/*
output/size-swd/*
output/wr-car/*
output/wr-era/*
copy-over.R

# Data
*.csv
*.data
*.arff
*.names
*.json
*.ipynb
*.pkl
*.npz
debug/
data/size-imdb/raw/aclImdb/

# Supplemental sim files
sim/size-wq-5.0.0-1c.R
sim/size-wq-5.0.0-1d.R